body,
html {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 10px;
  background-color: #f4f4f9;
  margin: 0;
}

body.team-red {
  background-color: #ffdddd;
}

body.team-blue {
  background-color: #ddeeff;
}

#gameContainer {
  max-width: 600px;
  margin: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
  border-radius: 8px;
}

.hidden {
  display: none;
}

button {
  margin: 10px 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: inline-block;
  width: calc(50% - 20px);
  box-sizing: border-box;
}

#correctButton {
  background-color: lightgreen;
}

#correctButton:hover {
  background-color: green;
  color: white;
}

#tabooButton {
  background-color: red;
}

#tabooButton:hover {
  background-color: darkred;
  color: white;
}

#nextButton {
  background-color: lightblue;
}

#nextButton:hover {
  background-color: deepskyblue;
  color: white;
}

#wordDisplay,
#timerDisplay,
#scoreDisplay {
  margin: 20px;
  font-size: 20px;
}

#tabooCard {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  width: calc(100% - 40px);
}

#tabooWordsDisplay {
  margin-top: 20px;
}

#tabooWordsList {
  list-style-type: none;
  padding: 0;
}

#tabooWordsList li {
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

#timerDisplay {
  display: block;
  margin: 5px;
}

#scoreDisplay {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.team {
  margin: 5px; /* Reduced margin */
  padding: 10px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  flex: 1 1 45%;
  max-width: 150px;
  box-sizing: border-box;
}

#teamRed h2 {
  color: red;
}

#teamBlue h2 {
  color: blue;
}

#startNextRoundButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
}

input[type="number"],
input[type="text"] {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  button {
    width: 100%;
  }

  .team {
    flex: 1 1 45%;
    max-width: 120px;
  }

  #tabooCard {
    width: calc(100% - 20px);
  }
}
